.full-page,
.fab-bottom,
.delayedSpinner {
  position: absolute;
  width: 100%;
}

.full-page,
.delayedSpinner {
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-bottom {
  bottom: 3em;
  right: 0;
  text-align: center;
}

.btn-large {
  width: 15em;
  height: 5em;
}

.small {
  font-size: small;
}

.delayedSpinner {
  animation: 0s linear 0.5s forwards makeVisible;
  visibility: hidden;
}

@keyframes makeVisible {
  to {
    visibility: visible;
  }
}
