.full-page,
.fab-bottom {
  position: absolute;
  width: 100%;
}

.full-page {
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-bottom {
  bottom: 3em;
  right: 0;
  text-align: center;
}

.btn-large {
  width: 15em;
  height: 5em;
}

.small {
  font-size: small;
}
